
Dribbble.xcodeproj/project.xcworkspace/xcuserdata/conradstoll.xcuserdatad/.svn/all-wcprops

.DS_Store

Dribbble.xcodeproj/project.xcworkspace/xcuserdata/kevin.harwood.xcuserdatad/UserInterfaceState.xcuserstate

Dribbble.xcodeproj/xcuserdata/kevin.harwood.xcuserdatad/xcschemes/Dribbble.xcscheme

Dribbble.xcodeproj/xcuserdata/kevin.harwood.xcuserdatad/xcschemes/xcschememanagement.plist
